<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shanghai_Ispas</title>
    <link rel="stylesheet" href="static/css/home.css">
   
</head>
<body>
    <div class="links_container">
        <center>
            <h1>Shanghai Ispas</h1>
            <br>    
            <a href="/">Головна cторінка </a>
            <a href="house_big">Будинок до 12 людей </a>
            <a href="house_small">Будинок для 8 людей </a>
            <a href="intertaiment">Риболовля та Розваги </a>
            <a href="about_us">Про нас </a>
            <a href="contact">Контакти </a>
        </center> 
        <br><br>
        <hr>
    </div>

    <div class="container slider">
        <div class="container" id="container">
            <img src="static/image/IMG_9333.jpg" alt="haus1" class="image">
            <img src="static/image/IMG_7371.jpg" alt="haus2" class="image">
                       
        </div>
        <button class="prev" onclick="prevSlide()">&#10094;</button>
        <button class="next" onclick="nextSlide()">&#10095;</button>
    </div>
    
    <hr> 
    
    <div class="bottom">
        <p>E-Mail: <a href="#" class="tel">Shanghai@gmail.com</a></p>
        <p class="tel"> Tel: +389040948861</p>
    </div>
    
    <script src="static/js/haus_small.js"></script>
</body>

</html>
