<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <a href crs="/"><title> Shanghai_Ispas</title>
</head>
<body>
    <div class="links_container"><center>
    <h1>Shanghai Ispas</h1><br>    
        <a href="/">Головна cторінка </a>
            <a href="house_big">Будинок до 12 людей </a>
            <a href="house_small">Будинок для 8 людей </a>
            <a href="intertaiment">Риболовля та Розваги </a>
            <a href="about_us">Про нас </a>
            <a href="contact">Контакти </a></center> <br><br><hr>
    </div>
    
{% comment %}   nene                       {% endcomment %}
        
    
        <hr> 

        <div class="bottom">
            <p>E-Mail:
            <a href="#" class="tel">Shanghai@gmail.com</a></p>
            <p class="tel"> Tel: +389040948861</p>
        </div>

        <script src="static/js/haus.js"></script>
</body> 
</html>
